.button {
  border: 0.5px solid $color-dark-blue;
  border-radius: 0;
  width: 100%;
  padding: 0.4rem;
  height: auto;
  @extend .font-detail-light;
  color: $color-dark-blue;
  font-weight: 400;

  &:hover {

  }
}
