.home__img-container {
  margin: 3rem auto;
  max-width: $large-screen;
  text-align: center;
  .home-photo {
    width: 100%;
    display: none;
    @media (#{$bp-larger-than-tablet}) {
      display: block;
    }
  }
  .home-photo-mobile {
    margin: auto;
    padding: 3rem 0;
    width: 60%;
    display: block;
    @media (#{$bp-larger-than-tablet}) {
      display: none;
    }
  }
}
