.nav {
  height: 150px;
  background-color: $color-white;
  width: 100%;
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
  .nav__link-list {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}
