.nav {
  background-color: $color-white;
  padding: 3rem 8rem 0 7rem;
  text-align: center;
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
  .nav-middle {
    display: inline-block;
    width: 30%;
  }

  .nav__link-list {
    list-style: none;
    margin-bottom: 0;
    a {
      &:hover {
        li {
          transform: translateY(-2px);
          border-bottom: 1px solid $color-dark-blue;
        }
      }
    }

    li {
      display: inline-block;
      font-family: $font-sans;
      color: $color-black;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-weight: 500;
      padding-top: 3rem;
      margin: 0 3rem 0.8rem 3rem;
      border-bottom: 1px solid $color-white;
      transition: all 400ms ease;
    }
  }

  .nav__active {
    border-bottom: 1px solid $color-dark-blue !important;
  }
}
