.nav {
  background-color: $color-white;
  padding: 3rem 3rem;
  margin-bottom: 1.5rem;
  .nav-left {
    float: left;
  }
  .nav-right {
    float: right;
  }
  .nav__link-list {
    list-style: none;
    margin-bottom: 0;
    a {
      &:hover {

      }
    }

    li {
      display: inline-block;
      font-family: $font-sans;
      color: $color-black;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-weight: 500;
      padding: 0 3rem;
      margin-bottom: 0;
    }
  }
}
