.page-image__container {
  padding: 0 1rem;
  @media (#{$bp-larger-than-tablet}) {
    padding: 5rem 0;
  }
  .page-image__left {
    padding-top: 5rem;
    @media (#{$bp-larger-than-tablet}) {
      padding-top: 10rem;
    }
    .font-body {
      margin-bottom: 2rem;
    }
    .button {
      width: 50%;
      margin-bottom: 3rem;
    }
  }
  .page-image__right {
    img {
      width: 100%;
    }
  }
}
