body {
  line-height: normal;
}
.font-serif {
  font-family: $font-serif;
  font-weight: 700;
  letter-spacing: normal;
}

.font-h1 {
  @extend .font-serif;
  font-size: $font-size-m;
  font-style: italic;
  margin-bottom: 1rem;
  @media (#{$bp-larger-than-tablet}) {
    font-size: $font-size-l;
  }
}

.font-h2 {
  @extend .font-serif;
  font-size: $font-size-m;
}

.font-h3 {
  @extend .font-serif;
  font-style: italic;
  font-size: $font-size-s;
  letter-spacing:0.4px;
  margin-bottom: 0;
}

.font-body {
  font-family: $font-sans;
  font-weight: 500;
  font-size: $font-size-xs;
  max-width: 430px;
  letter-spacing:0.3px;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  line-height: 1.8rem;
}

.font-caption {
  font-family: $font-sans;
  font-weight: 300;
  font-size: $font-size-xxs;
  margin-bottom: 0;
}

.font-detail-light {
  font-family: $font-sans;
  font-weight: 300;
  font-size: $font-size-xxxs;
  text-transform: uppercase;
  letter-spacing: 1.67px;
}

.font-detail-heavy {
  font-family: $font-serif;
  font-weight: 700;
  font-size: $font-size-xxs;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 0;
  font-style: italic;
}

html {
  font-size: 16px;
}
