// Colors
$color-white: #FFFFFF;
$color-black: #222222;
$color-blue: #B3C3D1;
$color-offwhite: #FDFCFC;
$color-offwhite-dark: #E9E7E2;
$color-dark-blue: #2E4F66;
$color-pink: #E4CAC5;

// Typography
@import url("https://use.typekit.net/jyq7rds.css");
$font-serif: 'moderno-fb', serif;
$font-sans: 'neue-haas-grotesk-display', sans-serif;

$font-size-l: 3rem;
$font-size-m: 2.5rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.06rem;
$font-size-xxs: 0.94rem;
$font-size-xxxs: 0.82rem;

// Screen sizes
$large-screen: 960px;
